body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;

    background: url("images/bg.jpg") no-repeat center center/cover;
    color: white;
}

/* dark overlay */
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}

.player {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#songName {
    margin-bottom: 20px;
    font-size: 14px;
    opacity: 0.8;
}

.buttons button {
    font-size: 20px;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: white;
    color: black;
    transition: 0.3s;
}

.buttons button:hover {
    transform: scale(1.1);
    background: #ddd;
}